<h1>Register</h1>

<div> 
  <%= form_for :user, :url => { :controller => "users", :action => "register" }, html: {method: :post}  do |f| %>
    Name: <%= f.text_field :name %>
    Email: <%= f.text_field :email %>

    <%= submit_tag "Create" %>
  <% end %>
</div>
